{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    <form>
        <p>sorting by:</p>
        <button name="sort" value="id">id</button>
        <button name="sort" value="name">name</button>
        <button name="sort" value="weight">weight</button>
        <button name="sort" value="category">category</button>
    </form>

    <form>
        <p>filter by category:</p>
        <label>
            <input type="text" name="filter" value="category"/>
            <button>Применить</button>
        </label>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>

    {% if previous >= 0 %}
        <a href="{{ path('app_product_index', { offset: previous, filter: filter }) }}">Previous</a>
    {% endif %}

    {% if next < products|length %}
        <a href="{{ path('app_product_index', { offset: next, filter: filter }) }}">Next</a>
    {% endif %}

{% endblock %}
